{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {ranch, "2.1.0"},
    {jiffy, "1.1.1"},
    {msgpack,
        {git, "https://github.com/tomjnixon/msgpack-erlang.git", {branch, "pack_unpack_binary"}}},
    {systemd, {git, "https://github.com/hauleth/erlang-systemd.git", {branch, "master"}}}
]}.

{relx, [
    {release, {eshetsrv_release, "1"}, [
        eshet, eshetsrv, eshetproto, eshethttp, sasl, runtime_tools, systemd_support
    ]},
    {extended_start_script, true},
    {dev_mode, true},
    {include_erts, false},
    {vm_args, "config/default/vm.args"}
]}.

{profiles, [
    {test, [{deps, [{gun, "2.0.1"}]}]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {vm_args, "config/prod/vm.args"}
        ]}
    ]}
]}.

{dist_node, [
    {setcookie, eshet},
    {sname, 'eshet@localhost'}
]}.

{dialyzer, [
    {warnings, [missing_return, extra_return, error_handling, underspecs]},
    {get_warnings, true}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [
    write,
    {print_width, 100},
    {files, ["apps/*/{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.
