{erl_opts, [debug_info]}.

{deps, [
        {eshet, {git, "https://github.com/tomjnixon/eshet.git",
                 {branch, "master"}}},
        {cowboy, "2.7.0"},
        {ranch, "1.7.1"},
        {jiffy, "1.0.5"},
        {msgpack, {git, "https://github.com/tomjnixon/msgpack-erlang.git",
                   {branch, "pack_unpack_binary"}}}
       ]}.

{relx, [
        {release,
         {eshetsrv_release, "1"},
         [eshet, eshetsrv, eshetproto, eshethttp, sasl, runtime_tools]},
        {extended_start_script, true}
       ]}.

{profiles, [
            {default, [{relx, [{dev_mode, true},
                               {include_erts, false},
                               {vm_args, "config/default/vm.args"}
                              ]}
                      ]},
            {prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {vm_args, "config/prod/vm.args"}
                           ]}
                   ]}
           ]}.

{shell, [
         {apps, [eshethttp, eshetproto, eshetsrv]}
        ]}.

